@mixin comonYearTechCss {
  padding: 0.1rem 0.75rem;
  border: 2px solid var(--text-base-deep);
  color: var(--text-tertiary);
  border-radius: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.8;
}

.container {
  background: var(--black-primary);
  position: relative;
  z-index: 2;

  .headingCnt {
    & > h2 {
      color: var(--text-tertiary);
      font-size: clamp(3.5rem, 2.3571rem + 4.5143vi, 10.5rem);
      font-weight: 700;
      text-transform: uppercase;
      transition-property: all;
      transition-duration: 0.5s;
      padding-bottom: 3rem;

      & > span {
        display: inline-block;
      }

      & > sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
        line-height: 130%;
        font-weight: 500;
        top: -0.5em;
        color: var(--text-base-deep);
      }
    }
  }

  .projectsCardWrp {
    display: grid;
    column-gap: 3.5rem;
    row-gap: 2.5rem;
    padding-bottom: 5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    .projectCardCnt {
      margin-bottom: 1rem;

      .projectDetailImg {
        border-radius: 0.25rem;
        overflow: hidden;
        margin-bottom: 1rem;
        transition: all 1.5s cubic-bezier(0.16, 1, 0.3, 1);

        & > img {
          width: 100%;
          height: auto;
          transition: all 1.5s cubic-bezier(0.16, 1, 0.3, 1);
        }

        &:hover {
          border-radius: 0.75rem;

          & > img {
            transform: scale(1.1);
          }
        }
      }

      .projectDetailTechnology {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;

        .yearCnt {
          @include comonYearTechCss();
        }

        .techCnt {
          @include comonYearTechCss();
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.7rem;

          & > span::after {
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: var(--text-base-deep);
            display: inline-block;
            margin-left: 5px;
            position: relative;
            top: -3px;
          }

          & > span:last-child::after {
            content: none;
          }
        }
      }

      & > h3 {
        color: var(--text-tertiary);
        font-weight: 700;
        font-size: 1.5rem;
        text-transform: uppercase;
        padding-top: 0.75rem;
      }

      & > p {
        color: var(--text-base-deep);
        font-weight: 400;
        font-size: 1rem;
        padding-top: 0.25rem;
        text-transform: capitalize;
        line-height: 1.4;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    .projectsCardWrp {
      row-gap: 5rem;
      column-gap: 6rem;
      grid-template-columns: repeat(12, minmax(0, 1fr));

      .projectCardCnt {
        .projectDetailImg {
          border-radius: 0.75rem;
          margin-bottom: 2rem;

          &:hover {
            border-radius: 1.25rem;
          }
        }

        &[data-index='1'] {
          grid-column: span 7 / span 7;
        }

        &[data-index='2'] {
          grid-column: span 5 / span 5;
          padding-top: 5rem;
        }

        &[data-index='3'] {
          grid-column: span 5 / span 5;
          padding-top: 5rem;
        }

        &[data-index='4'] {
          grid-column: span 7 / span 7;
        }

        .projectDetailTechnology {
          .yearCnt {
            font-size: 1.3rem;
            padding: 0.2rem 1.5rem;
            border-radius: 1.5rem;
          }

          .techCnt {
            font-size: 1.3rem;
            gap: 1rem;
            padding: 0.2rem 1.5rem;
            border-radius: 1.5rem;

            & > span::after {
              content: '';
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background-color: var(--text-base-deep);
              display: inline-block;
              margin-left: 5px;
            }

            & > span:last-child::after {
              content: none;
            }
          }
        }

        & > h3 {
          font-size: 3rem;
          padding-top: 0.75rem;
          transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
        }

        & > p {
          font-size: 1.2rem;
          transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
        }
      }
    }
  }
}
