.container {
  background: var(--black-primary);
  position: relative;
  z-index: 2;
  border-radius: 0 0 1.5rem 1.5rem;

  .headingCnt {
    display: flex;

    img {
      display: none;
    }

    h2 {
      color: var(--text-tertiary);
      font-size: var(--heading-base-medium);
      font-weight: 600;
      text-transform: uppercase;
      transition-property: all;
      transition-duration: 0.5s;
      padding-bottom: 3.5rem;

      & > span {
        display: inline-block;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

        & > span {
          display: inline-block;
          translate: none;
          rotate: none;
          scale: none;
          transform: translateY(100%);
          opacity: 0;
        }
      }
    }
  }

  .detailsWrp {
    display: flex;
    flex-direction: column;
  }

  .imgCnt {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    height: 380px;
    position: relative;

    img {
      border-radius: 0.25rem;
      width: 100%;
      height: 100%;
      filter: grayscale(100%);
      position: relative;
      z-index: -2;
      object-fit: cover;
    }
  }

  .textCnt {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    margin-top: 1.5rem;

    .desOne {
      font-size: var(--text-base-medium);
      font-weight: 500;
      color: var(--text-tertiary);
      text-wrap: balance;
      line-height: 132.5%;

      span {
        display: inline-block;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

        span {
          transform: translateY(2rem);
        }
      }
    }

    .desTwo {
      & h4 {
        margin-bottom: 1.5rem;
        font-size: var(--text-base-small);
        color: var(--text-secondary);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 400;
        letter-spacing: -0.035em;
      }

      & p {
        line-height: 132.5%;
        color: var(--text-secondary);
        text-wrap: balance;
        font-weight: 500;
        font-size: var(--text-base--small);
        max-width: 45ch;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    .headingCnt {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: start;
      padding-bottom: 7rem;

      & > img {
        display: block;
      }

      & > h2 {
        margin-top: -1.5rem;
      }
    }

    .detailsWrp {
      flex-direction: row;
      gap: 10rem;

      .imgCnt {
        width: 30%;
        height: 620px;
      }

      .textCnt {
        flex: 1;
        row-gap: 4rem;

        .desTwo {
          display: flex;
          column-gap: 3rem;

          & h4 {
            width: max-content;
            font-size: 1.3rem;
          }

          & p {
            flex: 1;
            position: relative;
            top: -3px;
            max-width: 55ch;
          }
        }
      }
    }
  }
}
