.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.25;
  background: linear-gradient(
    to left,
    hsla(220, 13%, 0%, 0.3) 40%,
    hsla(220, 13%, 0%, 1) 80%
  );
  transition: opacity 0.5s cubic-bezier(0.7, 0, 0.2, 1);
  z-index: 100;
  pointer-events: none;
  will-change: opacity;
}

.sidebarWarper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  color: var(--bg-primary);
  z-index: 3;
  padding: 10px;
  touch-action: none;

  .container {
    height: 100%;
    border-radius: 10px;
    background-color: var(--text-primary);
    position: relative;
    width: 30vw;

    .bgImage {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0.25;

      & > img {
        width: 18rem;
        height: 400px;
      }
    }

    .footercontainer {
      position: absolute;
      bottom: 1.5rem;
    }

    .wraper {
      height: 100%;
      padding: 10vh 3vw 10vh 6vw;
      display: flex;
      flex-direction: column;

      .header {
        border-bottom: 1px solid var(--bg-primary);
        text-transform: uppercase;
        font-size: 0.9rem;
        margin-bottom: 3rem;
        margin-top: 6rem;

        & > p {
          margin-bottom: 10px;
        }
      }

      .navItems {
        display: flex;
        flex-direction: column;
        font-size: 3rem;
        font-weight: 600;
        gap: 12px;

        a {
          text-decoration: none;
          color: var(--text-tertiary);
          font-weight: 400;
        }
      }
    }
  }
}

/* If the container is larger than 700px */
@media screen and (max-width: 720px) {
  .overlay {
    opacity: 0.1;
  }

  .sidebarWarper {
    right: 0;

    .container {
      width: 100%;

      .bgImage {
        & > img {
          height: 327px;
          width: 245px;
        }
      }

      .wraper {
        padding: 50px 30px;

        .navItems {
          font-size: 2.2rem;
          margin-left: 30px;

          a {
            margin-left: 20px;
          }
        }
      }
    }
  }
}
