.container {
  background: var(--black-primary);
  min-height: 100vh;
  position: relative;
  border-radius: 1.5rem 1.5rem 0 0;
  color: white;

  .heading {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;

    h2 {
      color: var(--text-tertiary);
      font-size: var(--heading-base-medium);
      font-weight: 600;
      text-transform: uppercase;
      transition: all 0.5s;
      letter-spacing: -1px;

      & > span {
        display: inline-block;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

        & > span {
          display: inline-block;
          transform: translateY(100%);
          opacity: 0;
        }
      }
    }

    .description {
      overflow: hidden;

      & h4 {
        margin-bottom: 1.5rem;
        font-size: var(--text-base-small);
        color: var(--text-secondary);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 400;
        letter-spacing: -0.035em;
      }

      h3 {
        color: var(--text-secondary);
        font-size: var(--text-base--large);
        line-height: 1.325;
        margin-top: 1.5rem;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        display: flex;
        flex-wrap: wrap;
        font-weight: 500;

        span {
          display: inline-block;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

          span {
            transform: translateY(2rem);
          }
        }
      }
    }
  }

  .skillsWrp {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    .heading {
      flex-direction: row;
      align-items: flex-start;

      h2 {
        width: 50%;
      }

      .description {
        width: 50%;
        margin-top: 9rem;

        h4 {
          font-size: 1.3rem;
          margin-bottom: 2.5rem;
        }

        h3 {
          margin-top: 1rem;
        }
      }
    }

    .skillsWrp {
      margin-top: 7rem;
    }
  }
}
