.container {
  background: var(--black-primary);
  min-height: 100vh;
  position: relative;
  border-radius: 1.5rem 1.5rem 0 0;
  color: white;

  .heading {
    display: flex;
    flex-direction: column;

    & > h2 {
      color: var(--text-tertiary);
      font-size: var(--heading-base-medium);
      font-weight: 600;
      text-transform: uppercase;
      transition-property: all;
      transition-duration: 0.5s;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

      & > span {
        display: inline-block;
        margin-right: 10px;

        & > span {
          display: inline-block;
          translate: none;
          rotate: none;
          scale: none;
          transform: translateY(50%);
          opacity: 0;
        }
      }
    }

    & > h3 {
      color: var(--text-tertiary);
      text-wrap: balance;
      font-size: var(--text-base--large);
      flex: 1;
      opacity: 0.8;
      line-height: 132.5%;
      margin-top: 1.5rem;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      display: flex;
      flex-wrap: wrap;

      & > span {
        display: inline-block;
        margin-right: 5px;

        & > span {
          display: inline-block;
          translate: none;
          rotate: none;
          scale: none;
          transform: translateY(20%);
          opacity: 0;
        }
      }
    }
  }

  .skillsWrp {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    .heading {
      flex-direction: row;
      align-items: flex-start;

      & > h2 {
        width: 50%;

        & > span {
          margin-right: 1rem;
        }
      }

      & > h3 {
        width: 50%;
        margin-top: 1rem;

        & > span {
          margin-right: 9px;
        }
      }
    }
  }
}
