@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

:root {
    --black-primary: #1C1D20;
    --black-secondary: #202024;
    --text-primary: #D3D3D3
}

/* Font Family */
.league-gothic {
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto' sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--black-secondary);
}

/* Common Classnames */