.mtNegative {
  margin-top: -100svh;

  .mtPositive {
    height: 100svh;
    position: relative;
  }
}

.container {
  padding-top: 3.5rem;
  min-height: 70vh;
  bottom: -20rem;
  position: sticky;
  background-color: var(--bg-primary);
  padding: 3.5rem 1.5rem 0;

  .headingCnt {
    & > h2 {
      color: var(--text-primary);
      font-size: clamp(3rem, 2rem + 4vi, 10.5rem);
      font-weight: 700;
      text-transform: uppercase;
      transition: all 0.5s;
      padding-bottom: 1rem;
      line-height: 1.2;

      & > span {
        display: inline-block;
      }
    }
  }

  .skillsCnt {
    width: 100%;
    height: 40vh;
    padding: 1.5rem 0;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .experienceCnt {
    display: flex;
    overflow-x: scroll;
    column-gap: 1.5rem;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .separator {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    & > span {
      height: 3px;
      width: 3rem;
      border-radius: 2px;
      background-color: var(--text-primary);
      display: block;
    }
  }
}
