.container {
  padding: 0 30px;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: sticky;
  top: 0;

  .textWrp {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 5vw;

    & > h2 {
      font-size: 60px;
      flex: 1;
      font-weight: bold;
      letter-spacing: 0.5px;
      color: var(--text-primary);

      &:last-child {
        text-align: right;
      }
    }

    & > p {
      font-size: 0.7rem;
      font-weight: 400;
      line-height: 1.5;
      margin-top: 3vw;
      color: var(--text-secondary);
      padding-left: 3rem;
    }
  }
}

.heroCircleImage {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -20;

  & > img {
    width: 88%;
    height: 40%;
    margin-top: -5rem;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0 140px;
    height: 100vh;

    .textWrp {
      flex-direction: row;
      & > h2 {
        font-size: 240px;
      }

      & > p {
        width: 20%;
        font-size: 1rem;
        line-height: 1.5;
        margin-top: 3vw;
      }
    }

    .textWrp:nth-child(2) {
      flex-direction: row-reverse;

      & > h2 {
        text-align: right;
      }
    }
  }

  .heroCircleImage {
    & > img {
      width: 70%;
      height: 70%;
      margin-top: 0;
    }
  }
}
