.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: sticky;
  top: -10%;

  .warrper {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    padding: 0 30px;

    .textWrp {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-bottom: 5vw;
      width: 100%;

      & > h2 {
        font-size: clamp(3.8rem, -0.057rem + 12.0714vw, 14.25rem);
        flex: 1;
        font-weight: bold;
        letter-spacing: 0.5px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        color: var(--text-primary);

        & > p {
          display: inline-block;
          margin-right: 10px;

          & > span {
            display: inline-block;
            translate: none;
            rotate: none;
            scale: none;
            transform: translateY(60px);
            transition: transform 0.5s;
          }
        }

        &:last-child {
          text-align: right;
        }
      }

      & > p {
        font-size: 0.85rem;
        font-weight: 400;
        line-height: 1.5;
        margin-top: 3vw;
        color: var(--text-secondary);
        padding-left: 3rem;
        font-style: italic;
        letter-spacing: 0.5px;
      }
    }

    .arrowIconSection {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 15vw;
      flex-direction: column;

      .arrowIconContainer {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 3px solid var(--black-primary);
        display: flex;
        justify-content: center;
        align-items: center;

        & > img {
          height: 13px;
          transform: rotate(-90deg);
        }
      }

      & > p {
        font-size: 0.9rem;
        font-style: italic;
        font-weight: 500;
        margin-top: 1rem;
        color: var(--text-primary);
      }
    }
  }
}

.heroCircleImage {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -20;

  & > img {
    width: 88%;
    height: 40%;
    margin-top: -5rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    height: 100vh;

    .warrper {
      top: 25%;
      padding: 0 140px;

      .textWrp {
        flex-direction: row;

        & > p {
          width: 25%;
          font-size: 1.2rem;
          line-height: 1.5;
          margin-top: 1.5vw;
        }
      }

      .textWrp:nth-child(2) {
        flex-direction: row-reverse;

        & > h2 {
          text-align: right;
        }

        & > p {
          padding-left: 0;
        }
      }

      .arrowIconSection {
        padding-top: 0px;
        margin-top: -1rem;

        .arrowIconContainer {
          width: 90px;
          height: 90px;

          & > img {
            height: 20px;
          }
        }

        & > p {
          font-size: 0.9rem;
          font-style: italic;
          font-weight: 500;
          margin-top: 1rem;
          color: var(--text-primary);
        }
      }
    }
  }

  .heroCircleImage {
    & > img {
      width: 70%;
      height: 70%;
      margin-top: 0;
    }
  }
}
